@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.slider02__section{
    background-color: rgb(244, 244, 244);
    width: 100vw;
}  
.slider02__wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 250px 0;
    color: #303030;
    font-family: 'Poppins', sans-serif;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 10px;
    // background-color: cornsilk;
}



.slider02__content{
    height: 600px;
    flex-grow: 0.5;
   
}
.slider02__title{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
.slider02__subtitle{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    max-width: 400px;

}
.slider02__container{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 3;
}
.slider02__window{
    position: relative;
    width: 400px;
    height: 600px;
}
.slider02__body{
    position: absolute;
    box-sizing: content-box;
    left: -60%;
    top: -50%;
    width: 220%;
    height: 200%;
    // background-color: cadetblue;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.slider02__button{
    font-family: 'Catamaran', sans-serif;
    background: none;
    border: none;
    font-size: 5rem;
    color: #353535;
}

.slider02__card{
    background-size: cover;
    background-position: center;
    position: relative;
    width: 500px;
    // background-color: red;
    height: 300px;
    z-index: 1;
    box-shadow: 20px 20px 25px 0px rgba($color: #303030, $alpha: 0.6);

    &_active{
        z-index: 5;
        transform: scale(1.3);
        box-shadow: 15px 15px 50px 20px rgba($color: #303030, $alpha: 0.4);
    }

}
.slider02__image{
    
    &_orhid{
        background-image: url(img/slider01/orhid.png);
    }
    &_peony{
        background-image: url(img/slider01/peony.png);
    }
    &_roses{
        background-image: url(img/slider01/roses.png);
    }
    &_tulips{
        background-image: url(img/slider01/tulips.png);
    }
    &_lilium{
        background-image: url(img/slider01/lilium.png);
    }
    &_narcissus{
        background-image: url(img/slider01/narcissus.png);
    }
}

