@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  overflow-x: hidden;
}

.slider01-section {
  width: 100vw;
  overflow: hidden;
}

.slider01__wrapper {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 60px 0px 150px;
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1279px) {
  .slider01__wrapper {
    padding: 30px 20px 150px;
  }
}
@media (max-width: 767px) {
  .slider01__wrapper {
    padding: 50px 15px 150px;
  }
}

.slider01-section__title {
  align-self: flex-start;
  margin: 0;
  font-size: 100px;
  font-family: "Dancing Script", cursive;
  background: linear-gradient(101deg, #ff75ea 0%, #ff5e79 50%, #fad376 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #303030;
}
@media (max-width: 1279px) {
  .slider01-section__title {
    align-self: center;
    text-align: center;
  }
}

.slider01-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
  max-width: 500px;
  justify-content: center;
}
@media (max-width: 1279px) {
  .slider01-container {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .slider01-container {
    flex-direction: column;
    padding-top: 20px;
  }
}

.slider01__card {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 300px;
  margin: 0px 5px;
  flex: 0 0 auto;
  transition-duration: 0.5s;
}
.slider01__card:hover {
  width: 300px;
}
.slider01__card:hover .slider01__image {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.slider01__card:hover .slider01__title {
  color: #303030;
}
.slider01__card:hover .slider01__description {
  color: #303030;
}
@media (max-width: 767px) {
  .slider01__card {
    width: 280px;
    height: 80px;
    margin-bottom: 20px;
  }
  .slider01__card:hover {
    height: auto;
  }
  .slider01__card:hover .slider01__image {
    height: 300px;
  }
}

.slider01__image {
  filter: saturate(110%) contrast(110%);
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  transition-duration: 0.5s;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  flex-shrink: 0;
}
.slider01__image_orhid {
  background-image: url(img/slider01/orhid.png);
}
.slider01__image_peony {
  background-image: url(img/slider01/peony.png);
}
.slider01__image_roses {
  background-image: url(img/slider01/roses.png);
}
.slider01__image_tulips {
  background-image: url(img/slider01/tulips.png);
}
.slider01__image_lilium {
  background-image: url(img/slider01/lilium.png);
}
.slider01__image_narcissus {
  background-image: url(img/slider01/narcissus.png);
}
@media (max-width: 767px) {
  .slider01__image {
    height: 80px;
  }
}

.slider01__content {
  width: 300px;
  flex-shrink: 0;
  padding: 20px;
}

.slider01__title {
  transition-duration: 0.5s;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  color: transparent;
  margin-bottom: 10px;
}

.slider01__description {
  pointer-events: none;
  transition-duration: 0.5s;
  color: transparent;
  width: 250px;
  margin: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.button01-section {
  width: 100%;
}

.button01-wrapper {
  max-width: 1200px;
  padding: 100px 0;
  display: flex;
  margin: auto;
}

.button01-button {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin: auto;
  display: flex;
  position: relative;
  cursor: pointer;
  background: linear-gradient(120deg, #6fd0fa, #6f78fa);
  box-shadow: inset 28px 28px 54px rgba(255, 255, 255, 0.6), inset 6px 6px 16px rgba(255, 255, 255, 0.85), inset -28px -28px 54px rgba(0, 0, 0, 0.25), inset -6px -6px 14px rgba(0, 0, 0, 0.25);
}
.button01-button:hover > .button01-button__inner {
  opacity: 1;
  background: linear-gradient(120deg, #6fd0fa, #6f78fa);
  box-shadow: inset -28px -28px 54px rgba(255, 255, 255, 0.1), inset -6px -6px 16px rgba(255, 255, 255, 0.1), inset 28px 28px 54px rgba(0, 0, 0, 0.1), inset 6px 6px 14px rgba(0, 0, 0, 0.1);
}
.button01-button:hover > .button01-button__title {
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
  transform: translate(2px, 2px);
}

.button01-button__inner {
  transition-duration: 0.25s;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  filter: blur(10px);
}

.button01-button__title {
  text-transform: uppercase;
  transition-duration: 0.25s;
  font-family: "Roboto", sans-serif;
  margin: auto;
  font-size: 50px;
  z-index: 1;
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
